# Rules of code ownership
# -----------------------
# 1. @commercetools/merchant-center-tech-leadership reviews tooling and this file
# 2. @commercetools/merchant-center-foundations-team-devs reviews all models, packages, and testing

# GitHub
/.github/CODEOWNERS @commercetools/merchant-center-tech-leadership

# Tooling
/standalone/src/core/ @commercetools/merchant-center-tech-leadership
/standalone/src/utils/ @commercetools/merchant-center-tech-leadership
/generators/ @commercetools/merchant-center-tech-leadership
/codegen* @commercetools/merchant-center-foundations-team-devs

# Models
/standalone/src/models/** @commercetools/merchant-center-foundations-team-devs

# Sample data preset directories
**/presets/sample-data-*/ @commercetools/merchant-center-foundations-team-devs
