name: Pull request workflow

on:
  pull_request:

jobs:
  build_lint_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - run: |
          git checkout -b main origin/main
          git checkout -

      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        id: pnpm-install
        with:
          run_install: false

      - name: Setup Node (uses version in .nvmrc)
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Building packages
        run: pnpm build

      - name: Running static type checking
        run: pnpm typecheck

      - name: Running linters and tests
        run: pnpm jest --projects jest.{eslint,test}.config.js --changedSince=main
        env:
          CI: true
